[submodule "bartblaze"]
	path = bartblaze
	url = https://github.com/bartblaze/yara-rules
[submodule "xumeiquer"]
	path = xumeiquer
	url = https://github.com/xumeiquer/yara-forensics/
[submodule "retdec"]
	path = retdec
	url = git@github.com:avast/retdec.git
